---
---


<!DOCTYPE html>
<html class="bg-ppcheats font-comicSans" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pixel Painters Cheats</title>
  </head>
  <body>
    <audio id="track">
      <source src="/ppcheats/895761_Purgatori.ogg" type="audio/ogg"/>
    </audio>
    <iframe class="ml-44 mt-20" width="560" height="315" src="https://www.youtube.com/embed/k3ebBTBeUTg?autoplay=1&mute=1&controls=0&start=96" title="YouTube video player" frameborder="0" allow="autoplay" allowfullscreen></iframe>
  </body>
</html>