<!DOCTYPE html>
<html class="bg-sky" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pixel Painters Cheats</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
        <h1 class="font-comicSans text-5xl text-center mt-10">Welcome To Pixel Painters Cheats.com!!!</h1>  
  </body>
</html>