---
import { Image } from "astro:assets";
---


<!DOCTYPE html>
<html class="bg-ppcheats font-comicSans" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pixel Painters Cheats</title>
  </head>
  <body>
        <h1 class="text-5xl text-center mt-10">Welcome To Pixel Painters Cheats.com!!!</h1>  
        <Image class="-rotate-[25deg] mt-40" src="/ppcheats/Screenshot_74.png" alt="minecraft text of me saying i will make this website if my friend makes a difficult parkour jump" width="544.5" height="50.5"/>
        <Image class="float-right mr-10" src="/ppcheats/video.gif" alt="video of the rainbow jump" width="480" height="270"/>
        <h1 class="text-sky text-5xl text-center float-bottom">graphic design is my passion</h1>
        <h1 class="text-7xl text-center mt-40 transform rotate-12 ml-40">click <a class="underline text-lightPink hover:text-purple" href="/cheatsdownload">>>>here<<<</a> to download!!!</h1>
        <h1 class="text-9xl text-center text-red float-right mt-20 mr-20">real</h1>
        <Image class="ml-20 mt-20 inline" src="/ppcheats/ad.jpg" alt="watch my proof you video" width="480" height="270"/>
       
  </body>
</html>