---
import Layout from '../layouts/Layout.astro';
import Link from '../components/Link.astro';
---

<Layout title="catboyash - about">
	<body>
		<div class="flex w-max">
			<h1 class="font-bold text-6xl overflow-hidden border-solid border-r-[0.15em] border-purple whitespace-nowrap w-0 animate-typing">About Me</h1>
		</div>
		<p class="mb-4 mt-2">
			I've had an interest in coding after I first discovered the concept and I have been slowly teaching myself since then. My other interests include video editing and drawing. I play in the front ensemble for marching band and will be the lead marimba next year. You'll typically find me gaming or making stupid image edits in my free time.<br />Also, I hate graphic design.
		</p>
		<h2 class="text-purple text-2xl font-semibold">Games I Enjoy:</h2>
		<p class="mb-1">Some of my favorite games! <span class="text-purple">Purple</span> means I currently play this game.</p>
		<ul class="list-disc list-inside">
			<li><span class="text-purple">Lethal Company</span></li>
			<li><span class="text-purple">Splatoon 3</span></li>
			<li><span class="text-purple">Minecraft</span></li>
			<li><span class="text-purple">Deep Rock Galactic</span></li>
			<li><span class="text-purple">Geometry Dash</span></li>
			<li>Phasmophobia</li>
			<li>Terraria</li>
			<li>Hollow Knight</li>
			<li>Celeste</li>
			<li>Everhood</li>
		</ul>
		<h2 class="text-purple text-2xl font-semibold mt-4">Check Out These Things:</h2>
		<p class="mb-1">(Not made by me)</p>
		<ul class="list-disc list-inside">
			<li><Link href="https://tonetags.astrid.sh/"/></li>
			<li><Link href="https://pride.codes/"/></li>
			<li><Link href="https://ripped.guide/"/></li>
			<li><Link href="https://www.dropout.tv/"/></li>
			<li><Link href="https://callmebymygender.top/"/></li>
			<!--<li><Link href="https://diyhrt.wiki/"/></li> -->
		</ul>
	</body>
</Layout>
