---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="catboyash - about">
	<main>
        <Navigation />
		<h1><span class="purple-text">About Me</span></h1>
		<p>
			put stuff here
		</p>
        <Footer />
	</main>
</Layout>

<style>
    h1 {
		font-size: 3rem;
		font-weight: 700;
	}
</style>
