---
import Layout from '../layouts/Layout.astro';
import Socials from '../components/Socials.astro';
---

<Layout title="catboyash">
	<body>
		<div class="flex w-max">
			<h1 class="font-bold text-6xl overflow-hidden border-solid border-r-[0.15em] border-purple whitespace-nowrap w-0 animate-typing">Hi, I'm <span class="text-purple">Ash!</span></h1>
		</div>
		<p class="mb-4 mt-2">
			Welcome to my website! All the cool kids have their own websites these days, so I wanted to join the club. You can check out some stuff from me or learn more about me here :3
		</p>
		<h2 class="text-purple text-2xl font-semibold">Socials:</h2>
		<p class="mb-3">Feel free to contact me! Please message me on Discord instead of Revolt, I am still watching its development.</p>
        <Socials />
	</body>
</Layout>
