---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Socials from '../components/Socials.astro';
---

<Layout title="catboyash">
	<Navigation />
	<body>
		<div class="flex w-max">
			<h1 class="font-bold text-6xl overflow-hidden border-solid border-r-[0.15em] border-purple whitespace-nowrap w-0 animate-typing">Hi, I'm <span class="text-purple">Ash!</span></h1>
		</div>
		<div style="clear: both"></div>
		<p>
			stuff
		</p>
		<h2 class="text-purple text-2xl font-medium">You can find me in several places:</h2>
        <Socials />
		<Footer />
	</body>
</Layout>
