---
import Layout from '../layouts/Layout.astro';
import ImageCard from '../components/ImageCard.astro';
---

<Layout title="catboyash - pingy">
	<body>
		<h2>this is my cat she's an asshole</h2>
		<ul>
			<ImageCard
				image="/pingy/IMG_20230819_194345.jpg",
			/>
		</ul>
	</body>
</Layout>
