---
import Layout from '../layouts/Layout.astro';
import ImageCard from '../components/PingyCard.astro';
---

<Layout title="catboyash - pingy">
	<body>
		<h2 class="text-center mb-5">this is my cat she's an asshole</h2>
		<ul class="grid grid-cols-3">
			<!--im too lazy to automate this like the geese bc i dont want to figure out how to get the relative path instad of full src -->
			<ImageCard
				image="/pingy/IMG_20230819_194345.jpg",
			/>
			<ImageCard
				image="/pingy/20230925_180648.jpg",
			/>
			<ImageCard
				image="/pingy/IMG_20230319_202116.jpg",
			/>
			<ImageCard
				image="/pingy/IMG_20230528_203114.jpg",
			/>
			<ImageCard
				image="/pingy/IMG_20230719_230235.jpg",
			/>
			<ImageCard
				image="/pingy/IMG_20230930_140208.jpg",
			/>
			<ImageCard
				image="/pingy/IMG_20240119_153313.jpg"
			/>
		</ul>
	</body>
</Layout>
