---
import Layout from '../layouts/Layout.astro';
import ImageCard from '../components/PingyCard.astro';
---

<Layout title="catboyash - pingy">
	<body>
		<h2 class="text-center mb-5">this is my cat she's an asshole</h2>
		<ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
			<!--im too lazy to automate this like the geese bc i dont want to figure out how to get the path like that -->
			<ImageCard
				image="/pingy/1.jpg",
			/>
			<ImageCard
				image="/pingy/2.jpg",
			/>
			<ImageCard
				image="/pingy/3.jpg",
			/>
			<ImageCard
				image="/pingy/4.jpg",
			/>
			<ImageCard
				image="/pingy/5.jpg",
			/>
			<ImageCard
				image="/pingy/6.jpg",
			/>
			<ImageCard
				image="/pingy/7.jpg"
			/>
			<ImageCard
				image="/pingy/8.jpg"
			/>
			<ImageCard
				image="/pingy/9.jpg"
			/>
		</ul>
	</body>
</Layout>
