---
---
<link rel="stylesheet" href="https://cdn.pride.codes/css/bar_helpers.css">
<footer class="mt-5">
  <div class="pride-strip"></div>
  <p>© 2024 catboyash · Made using <a href="https://astro.build/">Astro</a> and <a href="https://tailwindcss.com/">Tailwind</a></p>
</footer>
