---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import trans from "../assets/trans.png";
import ace from "../assets/ace.png";
import pan from "../assets/pan.png";
import genderqueer from "../assets/genderqueer.png";
---
<header class="mb-10 float-right">
    <ul class="text-right mt-5">
        <a class="text-white mr-1" href="/">Home</a>
        <a class="text-white mr-1" href="/about">About</a>
        <a class="text-white mr-1" href="/oddities">Oddities</a>
    </ul>
    <div class="float-left">
        <Image class="float-left" src="/images/temporarycircle.png" alt="my pfp" width="120" height="120"/>
        <div class="float-right ml-5">
            <h2 class="text-purple text-[40px] font-bold mt-2 mb-1">Ash</h2>
            <h3 class="w-fit flex flex-row mb-1"><a class="text-gray text-[23px] text-medium mr-1 hover:text-lightGray" href="https://en.pronouns.page/@catboyash">he/him | they/them</a><Icon name="pronounspage" font-size="25" vertical-align="middle"/></h3>
            <ul>
                <li class="float-left inline-block mr-2 transition transform hover:-translate-y-0.5"><a href="https://en.pronouns.page/terminology#transgender"><Image class="rounded-[0.2em]" src={trans} alt="trans flag" width="36" height="27"/></li></a>
                <li class="float-left inline-block mr-2 transition transform hover:-translate-y-0.5"><a href="https://en.pronouns.page/terminology#genderqueer"><Image class="rounded-[0.2em]" src={genderqueer} alt="genderqueer flag" width="36" height="27"/></li></a>
                <li class="float-left inline-block mr-2 transition transform hover:-translate-y-0.5"><a href="https://en.pronouns.page/terminology#panromantic"><Image class="rounded-[0.2em]" src={pan} alt="pan flag" width="36" height="27"/></li></a>
                <li class="float-left inline-block mr-2 transition transform hover:-translate-y-0.5"><a href="https://en.pronouns.page/terminology#asexual"><Image class="rounded-[0.2em]" src={ace} alt="ace flag" width="36" height="27"/></li></a>
            </ul>
        </div>
    </div>
</header>
