---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
---
<header class="mb-10 float-right">
    <ul class="text-right mt-5">
        <a class="text-white mr-1" href="/">Home</a>
        <a class="text-white mr-1" href="/about">About</a>
        <a class="text-white mr-1" href="/oddities">Oddities</a>
    </ul>
    <div class="float-left">
        <Image class="float-left" src="/images/temporarycircle.png" alt="my pfp" width="125" height="125"/>
        <div class="float-right ml-5">
            <h2 class="text-purple text-[45px] font-bold mt-2 mb-2">Ash</h2>
            <h3 class="w-fit flex flex-row"><a class="text-gray text-[23px] text-medium mr-1 hover:text-lightGray" href="https://en.pronouns.page/@catboyash">he/him | they/them</a><Icon name="pronounspage" font-size="25" vertical-align="middle"/></h3>
        </div>
    </div>
</header>
