---
---
<header>
    <ul>
        <a href="/">Home</a>
        <a href="/about">About</a>
    </ul>
</header>

<style>
    header {
        text-align: right;
    }
    a {
        color: rgb(219, 220, 227);
        text-decoration: none;
    }
    a:hover {
        color: rgb(198, 152, 238);
		text-decoration: underline;
    }
</style>
