---
import { Image } from 'astro:assets';
import youtubeIcon from './icons/YouTube-Icon-Full-Color-Logo.wine.svg';
---

<ul role="list">
        <Image style="vertical-align:middle" src={youtubeIcon} alt="" width="45"/>Youtube: <a href="https://youtube.com/@ashfanboy">@ashfanboy</a>
</ul>

<style>
</style>