---
import { Image } from 'astro:assets';
import youtubeIcon from './icons/YouTube-Icon-Full-Color-Logo.wine.svg';
---

<ul role="list">
        <Image src={youtubeIcon} alt="" width="40"/> Youtube: <a href="https://youtube.com/@ashfanboy">@ashfanboy</a>
</ul>

<style>
</style>