---
import ListsLayout from '../../../layouts/ListsLayout.astro';
---

<ListsLayout title="catboyash - hypixel modpack">
	<body>
			<h1 class="font-bold text-4xl mt-10">Hypixel Modpack</h1>
		<p class="mb-4 mt-2">
			Better than clients! Some mods may be out of date, I don't play on Hypixel anymore. <a href="/Hypixel 1.0.0.mrpack">Click here to download</a>
		</p>
		<ul>
			<li>Glint Colorizer</li>
            <li>Sidebar Mod Revamp</li>
            <li>Autotip</li>
            <li>BehindYouV3</li>
            <li>Block Overlay</li>
            <li>Blur</li>
            <li>Bossbar Cusomizer</li>
            <li>Chat Calc</li>
            <li>Chat Emotes</li>
            <li>Chatting</li>
            <li>Cowlection</li>
            <li>ChatTriggers</li>
            <li>DiscordRP</li>
            <li>EvergreenHUD</li>
            <li>FakeNames</li>
            <li>Hypixel Autocomplete</li>
            <li>Hytils Reborn</li>
            <li>ItemPhysics Lite</li>
            <li>Keystrokes</li>
            <li>MinecraftCapes</li>
            <li>Nick Hider (v5.3.1)</li>
            <li>OldAnimations</li>
            <li>Patcher</li>
            <li>Optifine</li>
            <li>Definitely Not Perspective Mod</li>
            <li>Quickplay</li>
            <li>Redaction</li>
            <li>ReplayMod</li>
            <li>Resource Pack Manager</li>
            <li>RewardClaim</li>
            <li>Scrollable Tooltips</li>
            <li>SimpleStats</li>
            <li>SimpleToggleSprint</li>
            <li>SmoothFont</li>
            <li>Tabulous</li>
            <li>TexFix</li>
            <li>TimeChanger</li>
            <li>TNT Time</li>
		</ul>
	</body>
</ListsLayout>