---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: rgb(196, 153, 249);
		--accent-light: rgb(224, 204, 250);
		--accent-dark: 49, 10, 101;
	}
	main {
    	margin: auto;
    	padding: 1rem;
    	width: 800px;
    	max-width: calc(100% - 2rem);
    	color: rgb(219, 220, 227);
    	font-size: 20px;
   		line-height: 1.6;
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	.purple-text {
		color: rgb(211, 134, 255);
	}
	a {
        color: rgb(167, 108, 220);
        text-decoration: none;
    }
    a:hover {
        color: rgb(198, 152, 238);
    }
</style>
