---
import { ViewTransitions } from 'astro:transitions';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html class="my-auto bg-space bg-cover grid place-items-center bg-no-repeat bg-center" lang="en">
	<head transition:animate="none">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">
		<meta charset="UTF-8" />
		<meta name="description" content="My Personal Site!" />
		<meta name="viewport" content="width=device-width" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" href="./favicon.ico" type="image/x-icon">
		<ViewTransitions />
		<title>{title}</title>
	</head>
	<body class="flex flex-col md:self-center text-lg bg-main w-[900px] px-20 min-h-screen border-x-4 border-purple">
		<Header />
		<main transition:animate="slide">
			<slot />
			<Footer />
		</main>
	</body>
</html>
<style is:global>
	html {
		@apply text-white;
		@apply text-lg;
	}
	a {
        @apply text-linkPink no-underline;
	}
    a:hover {
        @apply text-lightPink underline;
    }
</style>
