---
import { ViewTransitions } from 'astro:transitions';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html class="m-auto p-1 w-[800px]" lang="en">
	<head transition:animate="none">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" href="./favicon.ico" type="image/x-icon">
		<ViewTransitions />
		<title>{title}</title>
	</head>
	<body class="flex flex-col md:self-center text-lg gap-2">
        <header>
            <a class="text-white mr-1 hover:text-linkPink float-left" href="/oddities">Back</a>
            <a class="text-white mr-1 hover:text-linkPink float-right" href="/oddities/lists/discord-upload-limit">Discord</a>
        </header>
		<main transition:animate="slide">
			<slot />
			<Footer />
		</main>
	</body>
</html>
<style is:global>
	html {
		@apply text-white bg-main;
		@apply text-lg;
	}
	a {
        @apply text-linkPink no-underline;
	}
    a:hover {
        @apply text-lightPink underline;
    }
</style>
